.container {
    -webkit-tap-highlight-color: transparent;

}
.flexContainer {
    display: flex;
    justify-content: center;
}
.leftContainer {
    color: #555555;
    position: sticky;
    top: 2rem;
}

.priceContainer {
    background-color: #ffffff;
    width: 18.313rem;
    /* height: 13.563rem; */
    padding: 1.35rem;
    margin-top: 2rem;
    /* margin-left: 3rem; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.7rem;
    /* justify-content:center; */
}    
.price {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 16.625rem;
    height: 3.375rem;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 0 15px
}

.price p {
    font-size:16px;
    margin: 0;
}
.price div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    border-left:2px solid #fff !important;
}
.priceP {
    font-size: 14px;
    height: 100%;
    padding-left: 2rem;
    padding-right: 5px;
    padding-top: 2rem;
    color: #777777;
}
.value {
    font-size: 26px;
}
.priceContainer i {
    color: black;
}
.buy {
    background-color: #43f061;
    color: #ffffff;
    width: 16.625rem;
    /* height: 3.125rem; */
    font-size: 19px;
    border-radius: 30px;
    display:flex;
    justify-content:right;
    padding: 10px 17px;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
}
.buy p {
    margin: 0;
    padding-right: 4rem;
    font-size:20px
}
.buy i {
    color: #ffffff;
    margin-right: 0rem;
    font-size: 18px;
}
.score {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
}
.score div {
    /* display: flex; */
    /* width: 100%; */
    
}
.score p {
    margin-top: 0;
}
.stars {
    width: 6rem;
    margin-right: 1rem;
}
.studentsContainer {
    position: relative;
    background-color: #ffffff;
    width: 18.5rem;
    height: 26rem;
    padding: 21.6px;
    border-radius: 14px;
    /* margin-left: 5rem; */
}
.students {
    background-color: #f3f3f3;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #555555;
    /* padding: 15px; */
    /* width: 18.5rem; */
    height: 4.25rem;
    border-radius:10px;
    margin-bottom: 1rem;
}
.students p {
    margin:0;
    font-size: 17px;
}
.students span {
    padding-right: 1rem;
}
.students i {
    font-size: 25px;
    padding-left: 1rem;
}
.details{
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px dashed #e9ecef;
    height: 3rem;
}
.details p {
    margin: 0;
    font-size: 14px;
}
.details i {
    margin-left: 1rem;
    font-size: 22px;
}

.teacher {
    background-color: #ffffff;
    text-align: right;
    width: fit-content;
    border-radius: 14px;
    width: 18.75rem;
    padding: 21.6px;
    margin-top: 2rem;
}
.teacher h2{
    font-size: 16px;
    font-weight: 100;
    color: #000000;
    margin: 0;
}
.teacher p {
    font-size: 12px;
}

.rightContainer {
    padding: 0px 15px;
    margin-top: 2rem;
}

.video {
    width: 52.375rem;
}
.rightContainer img {
    width: 52.375rem;
}
.aboutEpisodes {
    padding: 21.6px;
    border-radius: 15px;
    width: 48.5rem;
    background-color: #ffffff;
}
.detailsContainer {
    text-align: right;
}

.detailsContainer h2 {
    color: #654fef;
    font-weight: bold;
}
.detailsContainer p {
    line-height: 2rem;
}
.chaptersContainer {
    background-color: #654fef4d;
    text-align: right;
    padding: 10px 18px;
    margin-bottom: 1rem;
    border-radius: 15px;
}
.episode {
    display: flex;
    justify-content: space-between;
    flex-direction:row-reverse;
    padding: 20px 15px;
    transition: background-color .2s ease-out;
    border-top: 1px solid #e9ecef;
    cursor: pointer;
}
.episode:hover {
    background-color: #ffffff;
}

.episode h3 {
    /* display: flex; */
}
.episode p {
    margin: 0;
}
.episode div {
    /* display: ; */
}
.episodeContainer {
    color: #383838;
    display: flex;
    justify-content: right;
}
.episodeContainer h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
}
.episodeContainer p {
    margin: 0;
    background-color: #8be669;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    margin: 0px 6px;
    height: fit-content;
}

.name {
    margin-bottom: 0;
    font-size: 14px;
}

.lock {
    /* position: absolute; */
    display: flex;
    align-items: center;
    font-size: 14px;
}

.lock i {
    color: #654fef;
    font-size: 12px;
    padding-left: 1rem;
}
.title {
    padding-right: 1rem;
}
.title h5 {
    font-size: 14px;
    font-weight: 100;
}
.successfulyContainer {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.successfulyContainer a {
    color: #ffffff;
}

.successfuly {
    background-color: #1fbd50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    padding: 15px 25px;
}
.successfuly h3 {
    font-weight: 100;
    font-size: 14px;
    background-color: rgba(17, 17, 17, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px 18px;
    margin: 0;
    height: fit-content;
    border-bottom: 2px solid;
}

.successfulyContainer p {
    margin: 0;
}
.successfuly div {
    display: flex;
    align-items: center;
}
.failed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00001f;
    border: 1px solid #af4c4c;
    width: 75rem;
    padding: 15px 25px;
    border-radius: 6px;
}
.failed p {
    color: #af5c5c;
}
.failed button {
    display: flex;
    font-family: iranyekan;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #654fef;
    border: none;
    padding: 15px 17px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.priceContainer:nth-child(2) {
    display: none;
}
.buyFix {
    display: none;
}
@media (max-width: 540px) {
   .leftContainer {
    display: none;
   }
   .aboutEpisodes {
       width: 87%;
   }
   .video {
       width: 100%;
   }
   .rightContainer {
       /* width: 95%; */
   }
   .rightContainer img {
    width: 100%;
   }
   .priceContainer {
       width: 88%;
   }
   .priceContainer img {
       width: 5rem;
   }
   .priceContainer:nth-child(2) {
        display: flex;
    }
    .flexContainer {
        display: block;
    }
    .lock p {
        display: none;
    }
    .name {
        width: 12rem;
    }
    .successfuly {
        width: 80%;
    }
    .successfuly div {
        text-align: right;
    }
    .successfuly p {
        text-align: right;
        width: 9rem;
    }
    .failed {
        width: 80%;
    }
    .failed p {
        text-align: right;
        width: 10rem;
    }
    .buyFix {
        font-family: iranyekan;
        position: fixed;
        display: flex;
        justify-content: center;
        margin-right: 2rem;
        align-items: center;
        color: #ffffff;
        width: 100%;
        height: 4rem;
        font-size: 14px;
        bottom: 0;
        background-color: #654fef;
    }

}