.courseContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 5.7rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    -webkit-tap-highlight-color: transparent;

}
.courses {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 7rem;
}

@media (max-width: 540px) {
    .courseContainer {
        align-items: center;
        grid-template-columns: auto;
        margin-top: 4rem;
    }
    .courses {
        font-size: 27px;
        padding-top: 4.5rem;
    }
    .courses h3{
        font-size: 21px;
    }
}